/* customize images with class='ST_img' */
.ST_img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.homepage_img{
  width: 80%;
  margin: auto;
  display: block;
}
.project_img {
  width: 60%;
  margin: auto;
  display: block;
}
.post_img {
  width: 80%;
  margin: auto;
  display: block;
}
.about_img {
  width: 30%;
  margin: auto;
  display: block;
}