/* customize images with class='ST_img' */
.ST_img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;	
  margin-bottom: 10px;
}

.headshot_img{
  float:left;
  margin-right: 50px;
  /* position: relative; */
}

/* Media query for wide screens */
@media (min-width: 800px) {
  .homepage_img{
  width: 50%;
  margin: auto;
  display: block;
  }
  .collection_img{
  width: 68%;
  margin: auto;
  display: block;
  }
}
/* Media query for narrow screens */
@media (max-width: 800px) {
  .homepage_img{
    width: 100%;
    margin: auto;
    display: block;
  }
  .collection_img{
    width: 100%;
    margin: auto;
    display: block;
  }
}

.about_img {
  width: 80%;
  margin: auto;
  display: block;
}

.fa-coffee {
	color: #4E2A84
}
.fa-graduation-cap {
	color: #4E2A84
}
.fa-paperclip {
	color: #4E2A84
}
.fa-book {
	color: #FFCB05
}
