.footer {
  padding: 20px 10px;
  position: absolute;
  bottom: 400px;
  left: 0;
  right: 0;
}
.footer a {
  color: #000;
  font-size: 40px;
  padding: 10px;
  transition: all .5s ease; /* Turn on light when move cursor to it slowerly. */
}
.footer a:hover {
  color: white;
}