.footer a {
  color: #000;
  font-size: 30px;
  padding: 20px;
  transition: all .5s ease; /* Turn on light when move cursor to it slowerly. */
  text-align: center;
}
.footer a:hover {
  color: #29fcaf;
}
/* .fa-facebook {
	color:#3b5998
} 
.fa-linkedin {
	color:#007bb6
}
.fa-twitter {
	color:#00aced
} */