footer {
  background-image: url('../../images/white_board.jpeg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
}
footer * {
  display: inline;
}

.footer a {
  color: #000;
  font-size: 30px;
  padding: 20px;
  transition: all .5s ease; /* Turn on light when move cursor to it slowerly. */
  text-align: center;
}
.footer a:hover {
  color: #29fcaf;
}
.container {
  margin-top: 20px;
  border-top: 1px solid #000;
}
/* .fa-facebook {
	color:#3b5998
} 
.fa-linkedin {
	color:#007bb6
}
.fa-twitter {
	color:#00aced
} */