header {
  background-image: url('../../images/white_board.jpeg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 350px;
  z-index: 0;
}
header * {
  display: inline;
}