header img {
  height: 60px;
}
header {
  background-color: #DDD;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
}
header * {
  display: inline;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #DDD;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  margin-left: 70px;
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
body {
  height: 150vh;
  background-image: url('../../images/background.jpg');
  background-size: cover;
  margin-top: 120px;
  padding: 20px;
}