body {
  /* height: 100vh; */
  /* background-image: url('../../images/background.jpg'); */
  background-size: cover;
  margin-top: 200px;
  /* margin-left: 300px; */
  /* margin-right: 300px; */
  padding: 20px;
  text-decoration: none;
}
/* Media query for wide screens */
@media (min-width: 1000px) {
  body {
    height: 100vh;
    /* background-image: url('../../images/background.jpg'); */
/*     background-size: cover; */
    margin-left: 100px;
    margin-right: 100px;
/*     text-decoration: none; */
  }
}
/* Media query for narrow screens */
@media (max-width: 1000px) {
  body {
    height: 200vh;
    /* background-image: url('../../images/background.jpg'); */
/*     background-size: cover; */
/*     margin-top: 200px; */
    margin-left: 20px;
    margin-right: 20px;
/*     padding: 20px; */
/*     text-decoration: none; */
  }
}

h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
}
h1 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
  text-align: center;
  font-size: 3rem;
  margin-top: 1.25rem;
}
h2 {
  font-size: 2.0rem;
  margin-top: 1.25rem;
}
h3 {
  font-size: 1.5rem;
  margin-top: 1.25rem;
}
h4 {
  font-size: 1.5rem;
  margin-top: 1.25rem;
}
p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.25;
  text-align: justify;
}
