.navbar {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  transition: all .5s ease-in-out;
}
.navbar-brand {
  fontsize: 20px;
  color: #29fcaf;
}
.navbar-dark .navbar-nav .nav-link {
  float:right;
  color: #29fcaf;
  font-size: 20px;
  text-transform: uppercase;
}
.btn-navbar-toggler-style:hover {
  background: #29fcaf;
  transition: all .5s ease-in-out;
}