<footer class="mt-auto">
  <div class="container text-center">
    <div class="footer">
      <a href="https://www.linkedin.com/in/sun-ting-tsai-2b7217110/" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/Lina492375qW1188" aria-label="GitHub"><i class="fa fa-github"></i></a>
      <a href="https://scholar.google.com/citations?hl=en&user=e0BF_m8AAAAJ" aria-label="Google Scholar"><i class="ai ai-google-scholar-square"></i></a>
      <a href="https://www.semanticscholar.org/author/Sun-Ting-Tsai/9940054" aria-label="Semantic Scholar"><i class="ai ai-semantic-scholar-square"></i></a>
    </div>
  </div>
</footer>
