<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<footer class="mt-auto">
  <div class="container text-center">
    <div class="footer">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/sun-ting-tsai-2b7217110/"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-skype"></i></a>
      <a href="https://github.com/Lina492375qW1188"><i class="fa fa-github"></i></a>
      <a href="https://scholar.google.com/citations?hl=en&user=e0BF_m8AAAAJ"><i class="ai ai-google-scholar-square"></i></a>
      <a href="https://www.semanticscholar.org/author/Sun-Ting-Tsai/9940054"><i class="ai ai-semantic-scholar-square"></i></a>
    </div>
  </div>
</footer>