<nav class="navbar navbar-expand-md fixed-top navbar-dark">
  
  <a class="navbar-brand smooth-scroll" style="color:#29fcaf;" href="/">Sun-Ting Tsai</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      {% for item in site.data.navigation %}
        <li class="nav-item">
          <a href="{{ item.link }}" {% if page.url == item.link %} class="active" {% endif %}>{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

</nav>